@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafafa;
}

.pac-container {
  border-radius: 0.5rem;
}

input[type='date'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: none;
  height: 47px;
  background-color: #fff;
  padding-top: -5px;
}

.pac-icon {
  display: none;
}
@layer base {
  html {
    font-family: 'Mukta', sans-serif;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 16px;
}

::-webkit-scrollbar-thumb {
  background: #083d77;
  border-radius: 2rem;
  height: 2rem;
}
